.top-container{
    display: flex;
    justify-content: space-between;
}
    
.navbar-container{
    display:flex;
    
}

.navbar-container > ol{
    display:flex;
    list-style-type: none;
    gap:20px;
}
.navbar-container 